<h1>Hello Everybody</h1>
<button >Hello</button>
<button mat-button>Hello!</button>
<button mat-button color="primary">Hello!</button>
<button mat-raised-button color="accent">Hello!</button>
<br>
<div class="mat-display-1">This is display-1</div>
<div class="mat-display-2"> This is display-2</div>
<div class="mat-display-3">This is display-3</div>
<div class="mat-display-4">This is display-4</div>
<br>
<div class="mat-headline">This is heading</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-1">subheading - 1</div>
<div class="mat-subheading-2">subheading - 2</div>

<div class="mat-caption">Mat caption</div>
<div class="mat-body-1">Body-1</div>
<div class="mat-body-2">Body-2</div>

<button mat-button>Click Me!</button>
<button mat-raised-button>Click Me!</button>
<button mat-flat-button>Click Me!</button>
<button mat-strocked-button>Click Me!</button>
<br>
<button mat-icon-button color="primary">ICON</button>
<button mat-fab color="primary">ICON</button>
<button mat-mini-fab color="primary">ICON</button>
<button color="warn" mat-raised-button>WarN</button>
<br>
<h2>Button Toggle Element</h2>
<hr>
<mat-button-toggle>Hello im Toggle</mat-button-toggle>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
<br>

<br>
<h1>Angular Material Icons</h1>
<hr>
<span class="material-icons">
  3d_rotation
  </span>
  <span class="material-icons">
    backup
    </span>
<mat-icon>
  fingerprint
</mat-icon><br>
<mat-icon color="primary">history</mat-icon>
<mat-icon color="warn">history</mat-icon>
<hr>
<h2>Badges</h2>
<hr>
<span class="z12" matBadge="5">Notifications</span>

<span matBadge="5" matBadgePosition="below before">Notifications</span>
<span matBadge="5" matBadgePosition="below after">Notifications</span>
<span matBadge="5" matBadgePosition="above before">Notifications</span>
<span matBadge="5">Notifications</span>
<hr>
<span matBadge="5" matBadgeSize="small" matBadgePosition="above before">Notifications</span>
<span matBadge="5" matBadgeSize="large">Notifications</span>
<br>
Next
<h2>Progress Spiner</h2>
<mat-progress-spinner value="40"></mat-progress-spinner>
<mat-spinner></mat-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click) = "loadData()" color="warn">Load Data</button>
<h2>Navbar</h2>
<mat-toolbar color="warn">
  <span>Engineering4You</span>
</mat-toolbar>
<mat-toolbar color="primary">
  <span>Engineering4You</span>
</mat-toolbar>
<mat-toolbar>
  <span color="accent">Engineering4You</span>
</mat-toolbar>
<mat-toolbar class="navbar">
  <span class="navbar-elements">Home</span>
  <span class="navbar-elements">Projects</span>
  <span class="navbar-elements">About Me</span>
  <span class="navbar-elements">Contact</span>
</mat-toolbar>
<h2>SideNav</h2>
<br>
<br>

<mat-sidenav-container>
  <mat-sidenav>
      Sidenav
  </mat-sidenav>
  <mat-sidenav-content>
      Main
  </mat-sidenav-content>
</mat-sidenav-container>

